pkgbase = install-snuglinux
	pkgdesc = Console script to install and configure distribution snuglinux
	pkgver = 0.0.37
	pkgrel = 1
	url = https://github.com/snuglinux/install-snuglinux
	arch = any
	license = GPL2
	depends = openssl
	depends = grep
	depends = sed
	depends = wget
	depends = pacutils
	backup = etc/install-snuglinux.conf
	source = https://github.com/snuglinux/install-snuglinux/archive/0.0.37.tar.gz
	md5sums = cff8a55c0d0f85bfd41221713340e116

pkgname = install-snuglinux
