pkgbase = install-snuglinux
	pkgdesc = Console script to install and configure distribution snuglinux
	pkgver = 0.0.41
	pkgrel = 1
	url = https://github.com/snuglinux/install-snuglinux
	arch = any
	license = GPL2
	depends = openssl
	depends = grep
	depends = sed
	depends = wget
	depends = pacutils
	backup = etc/install-snuglinux.conf
	source = https://github.com/snuglinux/install-snuglinux/archive/0.0.41.tar.gz
	md5sums = 63e0609866dbc88d9b5f2de71b19be2a

pkgname = install-snuglinux
